<head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       
    <!-- Mon CSS -->
    <link rel="stylesheets" href="style.css"/>
    <title>Cars for sale - V</title>
</head>
<body> 

    <!-- Menu -->
    <nav aria-label="Barre de navigation principale" class="navbar navbar-white text-white bg-white sticky-top">
        <a class="navbar-brand" href="#">
          <img src="images/cars-for-sale-logo.png" width="30" height="30"alt="Logo de Cars for sale">
        </a>
    </nav>
<h1>Acheter un véhicule</h1>
<a href='/form'>Cliquez ici si vous souhaitez vendre votre véhicule</a>

<table>
    <tr>
        <td>Marque</td>
        <td>Modèle</td>
        <td>Prix</td>

    </tr>    
    <% acheter.forEach(function(item) { %>
    <tr>
        <td><%= item.marque %></td>
        <td><%= item.modele %></td>
        <td><%= item.prix %></td>
        <td>
            <a href="/delete?id=<%= item.id %>" onclick="return confirm('Êtes vous certain de vouloir supprimer cette annonce ?')">Supprimer</a>
            <a href="/edit?id=<%= item.id %>">Modifier</a>
        </td>
    </tr>    
    <% }); %>
</table>
</body>

