<!DOCTYPE html>
<html lang="en">
    <head>
    
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       
        <!-- Mon CSS -->
        <link rel="stylesheet" href="style.css"/>
        
        <title>Cars for sale - Acheter</title>
    </head>
    <!-- Menu -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="images/cars-for-sale-logo.png" width="30" height="30" alt="Logo de Cars for sale">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">ACCUEIL <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/acheter">ACHETER</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/form">VENDRE</a>
        </li>
        </ul>
    </div>
    </nav>  
    <div class="jumbotron jumbotron-fluid text-black bg-white">
        <div class="container">
        <h1>Acheter un véhicule</h1>
        <p class="lead">Trouvez la pépite parmi les millions de petites annonces Cars for sale : </p>
    </div>
        <table>
            <tr>
                <td>Marque</td>
                <td>Modèle</td>
                <td>Prix</td>
                <td>Desc</td>


            </tr>    
            <% acheter.forEach(function(item) { %>
            <tr>
                <td><%= item.marque %></td>
                <td><%= item.modele %></td>
                <td><%= item.prix %></td>
                <td><%= item.description %></td>
                <td><%= item.description %></td>


                <td>
                    <a href="/delete?id=<%= item.id %>" onclick="return confirm('Êtes vous certain de vouloir supprimer cette annonce ?')">Supprimer</a>
                    <a href="/edit?id=<%= item.id %>">Modifier</a>
                    <a href="/detail?id=<%= item.id %>">Plus de détails</a>

                </td>
            </tr>    
            <% }); %>
        </table>



<!-- Cards -->
    <% acheter.forEach(function(item) { %>
    <div id="cards" ">
        <div class="col mb-4">        
            <div class="card h-100 shadow p-3 mb-3 text-black bg-white rounded">
            <img src=<%= item.photo %>" class="card-img-top" alt="Ancienne brasserie">
                <div class="card-body">
                    <h5 class="card-title"><%= item.marque %> <%= item.modele %></h5>
                    <h6><%= item.prix %> €</h6>
                    <p class="card-text"><%= item.description %></p>
                    <a href="/delete?id=<%= item.id %>" onclick="return confirm('Êtes vous certain de vouloir supprimer cette annonce ?')">Supprimer</a>
                    <a href="/edit?id=<%= item.id %>">Modifier</a>
                    <a href="/detail?id=<%= item.id %>">Plus de détails</a>
                </div>
            </div>
        </div>
    </div>
    <% }); %>




        <!-- Plugin JS, jQuery Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
    

